header {
    background-color: grey;
}

#batman {
    display: block;
    margin: 0px auto;

}

div {
    width: 100px;
    height: 100px;
}

h1 {
    color: #005677;
    background-color: grey;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #005677;
    background-color: #C4C4C4;
}

span {
    font-weight: bold;
}

footer {
    color: #FFFFFF;
    background-color: #005677;
    text-align: center;
}

ul.none {
    list-style-type: none;
}

footer p img{
    display: inline-block;
    margin: 4px 4px 0px 4px;
}